<h2><%= @show_user%>'s Profile</h2>

<h3>Update details </h3>

<form action="/users/<%= @user.id%>" method="POST">
<input id="hidden" type="hidden" name="_method" value="PATCH">
<label for="username">Username:</label>
<input type="text" name="user[username]" value="<%= @user.username %>" id="username"><br>
<label for="username">Email:</label>
<input type="text" name="user[email]" value="<%= @user.email %>" id="email"><br>
<input type="submit" value="Update" id="submit"><br>
</form>
