<h1>Edit Post</h1>
<form action="/posts/<%= @post.id%>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  <label for="title">Title:</label>
  <input type="text" name="post[title]" value="<%= @post.description %>" id="title"><br>
  <label for="description">Description:</label><br>
  <textarea name="post[description]" value="<%= @post.description %>" id="description"><%= @post.description %></textarea><br>
  <!-- <label for="category">Category:</label>
  <input type="text" name="post[category]" value="#{post.category}" id="category"><br> -->
  <input type="submit" value="Submit" id="submit">
</form>
