<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title Page-->
    <title>Data-Requesta</title>

    <link rel="vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link rel="/vendor/wow/animate.css" rel="stylesheet" media="all">
    <link rel="/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">

    <link rel="stylesheet" href="vendor/font-awesome-4.7/css/font-awesome.min.css"/>
    <!-- <link rel="stylesheet" href="vendor/font-awesome-5/css/fontawesome-all.min.css"/> -->


    <!-- Main CSS-->
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />

    <link rel="stylesheet" type="text/css" href="vendor/bootstrap-4.1/bootstrap.min.css"/>

    <link href="https://fonts.googleapis.com/css?family=Dhurjati|Poppins:800|Sarpanch:800&display=swap" rel="stylesheet">

</head>
