    <div class="main-content">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="card">
                            <div class="bg-header" style="background-image:url(https://media.giphy.com/media/3tKhIPrQvT7XVqQKIm/giphy.gif);">
                            <div class="bg-overlay"></div>
                        </div>
                            <div class="card-body">
                                <h5 class="card-title">Crowd sourced data</h5>
                                <p class="card-text">Data-Requesta let's you request big data for your data science projects. Just enter what kind of data you are
                                  looking for and people from around the world will provide the data you've been looking for! </p>
                            </div>
                            <ul class="list-group list-group-flush">
                              <% Post.all.each do |post| %>
                                <div>
                                  <li class="list-group-item list-grp-bdy">
                                    <div class="post-img">
                                      <%= post.id %>
                                    </div>
                                    <div>
                                    <% post.id %><a href="/posts/<%= post.id %>"><%= post.description %></a><br>
                                    <% post.user_id %>
                                    <% u_name = User.find(post.user_id).username %>
                                    posted by: <%= u_name %><br>
                                  </div>
                                  </li>
                                </div>
                              <% end%>

                            </ul>
                            <div class="card-body">
                                <a href="#" class="card-link">Card link</a>
                                <a href="#" class="card-link">Another link</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card">
                                    <div class="card-body">
                                      <h5 class="card-title">Card title</h5>
                                      <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                      <a href="#" class="card-link">Card link</a>
                                      <a href="#" class="card-link">Another link</a>
                                    </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="copyright">
                            <p>Made with <i class="fas fa-heart"></i> by FlatIron Student Yonnick || Kcinnoy</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
