
    <p>Crowd sourced data</p>

    <div class="content">
      <p>Data-requesta let's you request big data for your latest data science projects.
        Just make a request and our crowd sourcers will find exactly the data you're looking for! <br><br>
        <a href="https://github.com/thebrianemory/corneal">README</a>
      </p>
    </div>

    <div class="post_listings">
      <%= @posts_available %>
    </div>
