<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title Page-->
    <title>Data-Requesta</title>

    <link href="vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="/vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link rel="stylesheet" href="/stylesheets/main.css" />

</head>

<body class="">
    <div class="">
        <!-- PAGE CONTAINER-->
        <div class="">
            <!-- HEADER DESKTOP-->
            <header class="header-main">
              <ul class="top-navx" role="navigation">
                <li class="facebook__brand"><i class="fa fa-facebook-official"></i></li>
                <li class="nav-search-bar"><form><input placeholder="search twitter"/><i class="fa fa-search"></i></form></li>
                <li><i class="fa fa-home"></i>Home</li>
                <li><i class="fa fa-bell-o"></i>Notifications</li>
                <li><i class="fa fa-envelope-o"></i>Messages</li>
                <li><i class="fa fa-user-circle-o"></i></li>
                <li><p>John Smith</p>
                <li><i class="fa fa-caret-down"></i></li>
              </ul>
            </header>
            <!-- HEADER DESKTOP-->

            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">



                    </div>
                </div>
            </div>
            <!-- END MAIN CONTENT-->
            <!-- END PAGE CONTAINER-->
          </div>
        </div>
    </div>

    <!-- Jquery JS-->
    <script src="/vendor/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="/vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="/vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <!-- Vendor JS       -->
    <script src="/vendor/wow/wow.min.js"></script>

    <script src="/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="/vendor/chartjs/Chart.bundle.min.js"></script>
    <script src="/vendor/select2/select2.min.js">
    </script>


</body>

</html>
<!-- end document-->
